name: CI Workflow Telco Churn

on: [push]

jobs:
  build-and-train:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install pandas numpy scikit-learn mlflow matplotlib seaborn dagshub

    - name: Run Model Training
      run: |
        cd MLProject
        python modelling.py

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: trained-model-artifacts
        path: MLProject/confusion_matrix.png

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./MLProject
        push: true
        tags: abdur1603/telco-churn-project:latest